.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 0 20px;
  text-decoration:none;
  border: 2px solid rgb(9, 150, 40);
}

.tabs {
  padding: 20px;
  border: 1px solid #f5f5f5;
}

.Recent_action{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Transaction_bar{
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #f5f5f5;


}

.Transaction_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Develop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
